
html{
    font-size: 20px;
}
body{
    background-color:rgb(255, 255, 255);
    width: 1200px;
    margin: 0 auto;
}
header{
    background-color:rgb(170, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav{
    background: rgb(170, 0, 0);
    border: 1px ;
    padding: 3px 10px 3px 10px;
}
nav ul li{
    display: inline;
    list-style: none;
}
nav ul li a{
    color: rgb(170, 0, 0);
    text-decoration: none;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 3px;
    border: black;
    box-shadow:5px 10px 5px #000; 
}
nav ul li a:hover{ 
    color: #fff;
    background: black;
    box-shadow: 0 0 0 #000;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 70px;
}
h2{
    color:#fff;
    background: rgb(170, 0, 0);
    font-size: 45px;
}

p{
    color: #000;;
    margin: 0 20px 0 20px;
}
a{
    color:rgb(128, 3, 3);
    text-decoration: none;
}

div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div img{
    height: 200px;
    width: 300px;
    margin: 25px 0 25px 0;
}

#parrafo{
    padding-top: 30px;
    padding-bottom: 30px;
}


.img{
    float: left;
    margin: 30px 30px 20px 130px;
    width: 300px;
    height: 195px;
}
.p_float{
    float: right;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav_diseño{
    text-align: center;
}

.principal{
    width: 1100px;  /*ancho de la página*/
    margin: 20px auto;
    border: 2px solid #000000;
    box-shadow: 3px 3px 3px #333;
    border-radius: 10px;
    background: #FFF;
}

.clear{
    clear:both
}

footer {
    background: rgb(170, 0, 0);
    padding-top: 25px;
    padding-bottom: 25px;
}

footer div{
    text-align: center;
    color: white;
}

footer div a{
    color: black;
}

.ul_disc{
    list-style: none;

}
.ul_disc img{
    width: 200px;
}

.li_disc{
    float: left;
}

.li_disc img{
    width: 300px;
    left: 280px;
    margin: 30px 30px 20px 30px;
}

.li_disc a:hover{
    color: rgb(170, 0, 0) ; 
}