
html{
    font-size: 25px;
}
body{
    background-color:rgb(255, 255, 255);
    width: 1200px;
    margin: 0 auto;
}
header{
    background-color:rgb(170, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 20px 0 20px;
}

nav{
    background: rgb(170, 0, 0);
    border: 1px ;
    padding: 3px 10px 3px 10px;
    margin: 30px 20px 40px 20px;
}
nav ul li{
    display: inline;
    list-style: none;
}
nav ul li a{
    color: rgb(170, 0, 0);
    text-decoration: none;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 3px;
    border: black;
    box-shadow:5px 10px 5px #000; 
}
nav ul li a:hover{ 
    color: #fff;
    background: black;
    box-shadow: 0 0 0 #000;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 70px;
}
h2{
    color:#fff;
    background: rgb(170, 0, 0);
    font-size: 45px;
    margin-left: 20px ;
    margin-right: 20px;
}

h4{
    color: rgb(128, 3, 3);
}
p{
    color: #000;;
    margin: 0 20px 0 20px;
}
a{
    color:rgb(128, 3, 3);
    text-decoration: none;
}

div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div img{
    height: 200px;
    width: 300px;
    margin: 25px 0 25px 0;
}

#parrafo{
    padding-top: 30px;
    padding-bottom: 30px;
}

img{
    width: 300px;
    height: 400;
    text-align: right;
}

.img{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav_diseño{
    text-align: center;
}


